
.container{
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: 10px 10px 15px #a9aaa4;
}

#carrusel{
  background-color: #cbccc3;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#detalles-compra{
  background-color:#cbccc3;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.logo{
  display: flex;
  flex-direction: row;
  width: 20%;
}
.card-body{
  background-color: #cbccc3;
  border: 2px solid #fc4c02;
}
.texth5{
  color: #fc4c02;
  margin: 0;
}

.logo-tj{
  width: 10%;
  margin: 0 ;
}
span{
  color: #fc4c02;
}
.texto{
  color: #002e5c;
}
.talles{
  margin-top: 10px;
}
.textotalle{
  margin: 0%;
  color: #002e5c;
}
.boton{
  color: #cbccc3;
  display: flex;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #002e5c;
  border-radius: 15px ;
}
.boton:hover{
  color: #fc4c02;
}
